---
layout: default
title: Projects
exclude_from_nav: false
---

<section class="py-5 text-center container">
    <div>
        Have a look at my <a href="https://play.google.com/store/apps/developer?id=Infinite%20Loop%20Studios&hl=en">android apps</a>.
    </div>
</section>
