---
layout: default
title: Home
exclude_from_nav: false
---
<section class="py-5 text-center container">
    <div>
        <p>This is the personal homepage of Peter Klöckner.</p>

        <p>I am a computer scientist holding a M.Sc. from
        <a href="http://www.tu-darmstadt.de" target="_blank">TU Darmstadt</a>.</p>
    </div>
</section>
