<hr class="featurette-divider">

<div class="site-footer">
	<div class="row">
		<div class="col-md-6 col-xs-6">
			<p><small>&copy; 2021 Peter Klöckner</small></p>
		</div>

		<div class="col-md-6 col-xs-6">
			<p class="pull-right"><small><a href="/about" title="About this site">Impressum</a></small></p>
		</div>
	</div>
</div> <!-- /footer -->
