<header class="p-3 bg-dark text-white">
		<div class="container">
				<ul class="nav nav-pills">

		        <!-- home url -->
		        {% if page.url == "/" %}
		            <li><a href="/" class="nav-link active text-white">Home</a></li>
		        {% else %}
		            <li><a href="/" class="nav-link text-white">Home</a></li>
		        {% endif %}

		        <!-- other pages -->
						{% for node in site.pages %}
		            {% if node.url == "/" %}
		                <!-- home url already handled -->
		            {% else %}
		                {% unless node.exclude_from_nav %}
		                    {% if page.url == node.url %}
		                        <li><a href="{{node.url}}" class="nav-link active text-white">{{node.title}}</a></li>
		                    {% else %}
		                        <li><a href="{{node.url}}" class="nav-link text-white">{{node.title}}</a></li>
		                    {% endif %}
		                {% endunless %}
		            {% endif %}
						{% endfor %}
				</ul>
		</div>
</header>
