---
layout: default
title: About This Site
description: Impressum
exclude_from_nav: true
---

<section class="py-5 text-center container">
    <div class="about">
        <address>
            <strong>Peter Klöckner</strong><br>
            55127 Mainz<br>
            An den Platzäckern 50<br>
            Germany
        </address>
        <script type="text/javascript" language="javascript">
        <!--
        // Email obfuscator script 2.1 by Tim Williams, University of Arizona
        // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
        // This code is freeware provided these four comment lines remain intact
        // A wizard to generate this code is at http://www.jottings.com/obfuscator/
        { coded = "RVHy@OIjI9-iPyIYiVI9.FI"
          key = "B2ftqVv7ZeELXcCziUOumDbMoHjdJA56Ia4NYlrRK8gQnTGyhWF3S1skxp0wP9"
          shift=coded.length
          link=""
          for (i=0; i<coded.length; i++) {
            if (key.indexOf(coded.charAt(i))==-1) {
              ltr = coded.charAt(i)
              link += (ltr)
            }
            else {
              ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
              link += (key.charAt(ltr))
            }
          }
        document.write("<a href='mailto:"+link+"'>"+link+"</a>")
        }
        //-->
        </script><noscript>Sorry, you need Javascript on to email me.</noscript>
    </div>
</section>
