---
layout: default
title: Mnemonic Generator
exclude_from_nav: false
---

<section class="py-5 text-center container">
    <div class="d-flex flex-column justify-content-center">
        <div class="p-2">
            <button onclick="generateMnemonic()" id="generate" class="btn btn-primary">Generate new mnemonic phrase</button>
        </div>
        <div class="p-2">
            <p id="result">fesselnder, wohltätiger Hemmschuh</p>
        </div>
    </div>
</section>

<script type="text/javascript" language="javascript">
function getRandomNumberInRangeZeroTo(max) {
    return Math.floor(Math.random() * max);
}
function inflectAdjective(adjective, gender) {
    var femalePostfix = "e";
    var malePostfix = "er";
    var neutralPostfix = "es";
    if (adjective.endsWith("e")) {
        femalePostfix = "";
        malePostfix = "r";
        neutralPostfix = "s";
    }

    switch (gender) {
        case "female":
            return adjective + femalePostfix;
        case "male":
            return adjective + malePostfix;
        case "neutral":
            return adjective + neutralPostfix;
        default:
            return adjective;
    }
}
function generateMnemonic() {
    adjectives = {{ site.data.positive_adjectives | jsonify }}
    nouns = {{ site.data.rail_nouns | jsonify }}

    nounIndex = getRandomNumberInRangeZeroTo(nouns.length);
    noun = nouns[nounIndex].noun;
    gender = nouns[nounIndex].gender;

    firstAdjectiveIndex = getRandomNumberInRangeZeroTo(adjectives.length);
    firstAdjective = inflectAdjective(adjectives[firstAdjectiveIndex].baseform, gender);

    secondAdjectiveIndex = getRandomNumberInRangeZeroTo(adjectives.length);
    if (secondAdjectiveIndex == firstAdjectiveIndex) {
      if (secondAdjectiveIndex >= 1) {
        secondAdjectiveIndex -= 1;
      } else {
        secondAdjectiveIndex += 1;
      }
    }
    secondAdjective = inflectAdjective(adjectives[secondAdjectiveIndex].baseform, gender);

    document.getElementById("result").innerHTML = firstAdjective + ", " + secondAdjective + " " + noun;
}
document.onload = generateMnemonic();
</script>
